img {
<<<<<<< HEAD
    min-width: 500px;
    height: 300px;
}

#window {
    width: 500px;
    height: 300px;
    border: solid 5px purple;
    margin: 0 auto;
    overflow: hidden;

}
#imgSlider {
    display: flex;
    animation-name: carousel;
    animation-duration: 15s;
    animation-iteration-count: infinite;
 
}
@keyframes carousel {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(-2500px);
    }
}
=======
  min-width: 500px;
  height: 300px;
}

#window {
  width: 500px;
  height: 300px;
  border: solid 5px red;
  margin: 0 auto;
  overflow: hidden;
}

#imgSlider {
  display: flex;
  animation-name: carousel;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes carousel {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-2500px);
  }
}
>>>>>>> 9fbcb841f482f259b23129f262be5d2db299cb82
